<div id="article">
  <div class="content">
    <%- page.more%>
  </div>
  
  <div class="extra">
    <%- partial('toc') %>

    <%- partial('recent') %>

    <%- partial('categories') %>

    <%- partial('tags') %>

    <%- partial('archives') %>
    
    <%- partial('bgm') %>

  </div>
  <div class="helper"></div>
  <%- partial('_partial/preandnext') %>
  <%- partial('comments') %>
</div>
