<footer id="footer">
    <div class="links">
      <% for(var key in theme.links){ %>
        <a href="<%- url_for(theme.links[key]) %>">
          <span class="iconfont icon<%- key.toLowerCase() %>"></span>
        </a>
      <% } %>
    </div>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">
      总访问量: <span id="busuanzi_value_site_pv"></span> 次
    </span>
    | 
    <span id="busuanzi_container_site_uv">
      总访客数: <span id="busuanzi_value_site_uv"></span> 人
    </span>

    <div>
     Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= theme.nickname %>
    </div>
    <div>powered by <a href="http://hexo.io/">Hexo</a> Theme <%= theme.themename %> </div>
     
</footer>
