<% if(is_page()) { %>
    <div id="interests">
        <% for(var name in theme.categories) {
            var category = theme.categories[name];
            if(category.interest == page.title) {
                
                var url = config.category_dir;
                if(category.url) 
                  url += category.url + '/';
                url += '/' + name.replace(/ /g, '-').replace('/', '-').replace(/-&-/g, '-'); %>
    
                <div class="abstract">
                    <a class="title" href="<%- url_for(url) %>"><%- name %></a>
                    <div class="digest">
                      <%- category.introduce || '啊，忘了写简介' %>
                    </div>
                    <div class="statistic">
                      阅读 (1) | 
                      <a>评论 (1)</a>
                    </div>
                  </div>
            <% } %>
        <% } %>
    </div>
<% } else if(is_post()) { %>
    <div id="article">
        <div class="content">
            <%- partial('article/copyright.ejs') %>
            <%- page.more%>
        </div>
        
        <div class="extra">
            <%- partial('article/side') %>
        </div>
        <div class="helper"></div>

        <%- partial('article/preandnext') %>
        <%- partial('article/comments') %>
    </div>
<% } else { %>
    <div id="articles">
        <% page.posts.forEach(function(item, index) { %>
          <div class="abstract">
            <a class="title" href="<%- url_for(item.path) %>"><%- item.title %></a>
            <div class="tags">
              <% item.tags.forEach(function(tag){ var rand = Math.floor(Math.random() * 4 + 1); %>
                <a class="tag-rec tag-rec-color<%- rand %>" href="<%- url_for(tag.path) %>">
                  <div class="tag-tri tag-tri-color<%- rand %>"></div>
                  <div class="tag-cir"></div>
                  <%- tag.name %>
                </a>
              <% }); %>
            </div>
            <div class="digest">
              <%- item.excerpt || '啊，忘了写摘要' %>
            </div>
            <div class="statistic">
              <%= item.date.format(config.date_format) %> <%= item.date.format(config.time_format) %>
              |
              阅读 (1) | 
              <a>评论 (1)</a>
            </div>
          </div>
        <% }); %>
      
        <div class="page">
          <%- paginator({
            prev_text: '',
            next_text: '',
            end_size: 1,
            mid_size: 2
          }) %>
        </div>
      </div>
<% } %>