<div id="portal">
  <div class="container">
    <div><img class="logo"></div>
    <h1><%= theme.nickname%></h1>
    <h2><%= theme.motto%></h2>
  </div>

  <% site.tags.data.forEach(function(tag){ %>
    <a class="pic bubble" href="<%- url_for(tag.path) %>" title="<%- tag.name %>">
      <%- tag.name %>&nbsp;&nbsp;(<%- tag.length %>)
    </a>
  <% }); %>  
</div>
