<% if(theme.gitalk.enable) { %>
    <!-- you can also use cdn but cdn is better(fast)
    <%- css('3rdParty/gitalk/gitalk') %>
    <%- js('3rdParty/gitalk/gitalk') %>
    <%- js('3rdParty/gitalk/md5') %>
    -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
    <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
    <!-- require md5 -->
    <script src="https://cdn.jsdelivr.net/npm/js-md5"></script>
    
    <div id="comments"></div>
    <script type="text/javascript">
        //必须对pathname加密
    　  //不能对href加密，不知道为什么，href会变导致加密结果不一致
        const gitalk = new Gitalk({
            clientID: '<%- theme.gitalk.clientID %>',
            clientSecret: '<%- theme.gitalk.clientSecret %>',
            id: md5(location.pathname),
            repo: '<%- theme.gitalk.repo %>',
            owner: '<%- theme.gitalk.owner %>',
            admin: ['<%- theme.gitalk.admin %>']
        });
        gitalk.render('comments');
    </script>
<% } %>
